/*!
===========================
Vivian ,the Second Year student,1597933676@qq.com,2018,4,23
CONTENTS:
style about these div

===========================
*/



div, article, section, header, footer, nav, li {
	position:relative;
}/*Define the location of these containers*/
.group:after {
	display:block;
	height:0;
	content:".";
	visibility:hidden; 
}/* the style for clearing */
body {
	background:rgb(186,197,201);/* the color for background */
	color: #312A1E;/* the color for the font */
	font-size: 100%;/* the size for the font */
	font-family: 'Quattrocento', serif;/* the species for the font */
}


/*define the p，h.....font and position style*/



p {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0 0 1.5em 0;
}
ul, ol {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0 0 1.5em 0;
}
body {
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal; /* reset default browser weight for our webfonts */
	font-family: 'Patua One', cursive;
}
h1 {
	font-size: 1.5em; /* 24px */
	line-height: 1; /* 24px */
	margin-top: 1.42em;/* same */
	margin-bottom: 0em;/* same */
}
h2 {
	font-size: 1.3125em; /* 21px */
	line-height: 1.1429; /* 24px */
	margin-top: 1.1429em;/* same */
	margin-bottom: 0em;/* same */
}
h3 {
	font-size: 1.125em; /* 18px */
	line-height: 1.3333; /* 24px */
	margin-top: 1.3333em;/* same */
	margin-bottom: 0em;
}
h4 {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin-top: 1.5em;/* same */
	margin-bottom: 0em;
}
h5 {
	font-size: 0.875em; /* 14px */
	line-height: 1.7143; /* 24px */
	margin-top: 1.7143em;/* same */
	margin-bottom: 0em;
}
strong {
	font-weight:normal;
	font-family: 'Open Sans', sans-serif;
}/* define the strong font style */
small {
	font-size: 0.75em; /* 12px */
	line-height: 2; /* 24px */
	margin-top: 2em;
	margin-bottom: 0em;
}/* define the small font style */

.muted {
	color: rgb(143,131,154);
	font-family: 'Quattrocento', serif;
}/* About color and font of “about me"s In detail */

.impressed {
	text-shadow:
 -1px -1px 0 rgba(0, 0, 0, 0.5), /* shadow */  1px 1px 0 rgba(255, 255, 255, 0.9); /* highlight */
}
.more-link {
	font-size: .875em; /* 14px */
	margin-top: 1.5em;
	font-family: 'Patua One', cursive;
}
.more-link:link, .more-link:visited {
	color: #f0bf00;
	text-transform: uppercase;/* define link color */
}




/*  Navbar */

.navbar .brand {
	margin-left:0;
	padding: 0;
	margin-top: 1em;
}/* Defining content in the navigation bar at the same level*/
.navbar .brand a {
	padding: 0;
	color: #fff;
	font-size: 1.75em;
	margin-left: 0;
	font-weight: normal;
	font-family: 'Patua One', cursive;
}/* Define Home Headline, Normal, White, Size, Font....*/
.navbar .brand a:hover {
	text-decoration: none;
	color:#f0bf00;
 transition: color .15s linear;
 -webkit-transition: color .15s linear;
 -moz-transition: color .15s linear;
}/* Define Home page headline underline hidden, mouseover will turn yellow*/

.navbar-inner {
	min-height: 4em;
}/* Define the height of the navigation bar*/
.navbar-inverse .navbar-inner {
	background-repeat: repeat;
	background-color: #0b333f;
	border-color: #f0bf00;
}/* Define Navigation bar color and border color */
.navbar-wrapper {
	overflow:hidden;/* No fixed height, will break collapsible nav */
}
#menu-main {
	margin-top: 1.125em;
}
ul#menu-main > li > a {
	font-family: 'Patua One', cursive;
	font-weight: normal;
	font-size: 1em;
	color: #fff;
}/*Define some styles for navigation bar content, including relative positions, fonts*/
ul#menu-main > li > a:hover {
	background: #f0bf00;
	padding: 9px 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}/*if mouse hover，Define some styles for navigation bar content, including relative positions, fonts*/
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	text-shadow: none;



}


/*Single-Page Sections  */

#headerwrap {
	width: 100%;
	background: url(../img/top-bg.jpg)  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	;/* Background image loading position */
	min-height: 600px;
	margin-top: -60px;
	padding-top:340px;
	text-align:center;
}/* Main page text size */
#headerwrap h1 {
	color: #FFFFFF;
	font-family: 'Patua One', cursive;
	font-size: 4em;
	font-weight: 400;
	margin: 1em 0;
}/* Main page text size ,"Portfolio time flower"s color*/

#headerwrap h1 span {
	color:rgb(89,76,129);
}/* "Artwork！"s color */



/* feature */


section.single-page {
	padding: 4.75em 0; /* 76px */
}
section.single-page h1 {
	text-align: center;
	font-family:  'Patua One', cursive;
	margin-bottom: 2em; /* 72px */
	font-size: 2.25em; /* 36px */
}
#feature {
	background: url("../img/blue.png") repeat-x 0 0;
	height: 806px;/* "Personal Portfolio gathering"s page height */
	z-index: 500;
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
}
#feature article {
	text-align: center;
	margin-top: 120px;
	max-width: 1170px;
}/* define the div "article" position,width and text */
#feature-headline {
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	color: rgba(228, 229, 229, 1);
	margin-bottom: 3%; /* 39px */
	margin-top: -.25em;
	height: 109px;
	background-size: 100% auto;
}
#feature-headline span {
	font-family: 'Patua One', cursive;
	text-transform: lowercase;
}
#feature article p {
	font-family: 'Patua One', cursive;
	font-size: 40px;
	margin-bottom: 0;
	line-height: 1.35;
	color: #fff;
}
/* Portfolio */

section#portfolio {
	padding-bottom: 0;
	background: url("../img/yellow.png") repeat-x 0 0;
}/* define the portfolio background picture*/
section#portfolio h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}/* define the portfolio h1*/
section#portfolio hgroup h2 {
	margin-top: 1em;
	text-transform: capitalize;
}/* define the portfolio h2*/
section#portfolio hgroup h3 {
	margin-top:  .35em;
	font-family: 'Patua One', cursive;
}/* define the portfolio h3*/
section#portfolio .entry-content {
	margin: 1em 0 2.5em;
}/* define the portfolio detail content*/
section#portfolio .align {
	text-align:center;
	margin-top:10px;
	font-size:6em;
}
/* Portfolio Image Hover，if mouse put on it，it will hided */
.mask2 img {
	margin: 0 auto;
	max-width: 100%;
	display: block;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}/* Portfolio section, mouse up, hide, animation */
.mask2 img:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	opacity: 1;
}



/* Introduce */

section#Introduce {
	padding-bottom: 9.5em;
	background: url("../img/yellow.png") repeat-x 0 0;
}/* same style function as the front */
#Introduce h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}/* same style function as the front */
section#Introduce h2 {
	font-size: 22px;
	margin-bottom: 15px;
	margin-top: 10px;
	text-align:center;
}/* same style function as the front */
section#Introduce p {
	margin:10px;
}/* same style function as the front */
section#Introduce .align {
	text-align:center;
	margin-top:10px;
	font-size: 6em;
}/* same style function as the front */

section#Introduce .span3 {
	background:rgb(143,131,154);/* Four small square background colors */
	padding: 20px 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}/* same style function as the front */
section#Introduce .span3:hover {
	background:rgb(231,215,246);
	box-shadow: 1px 1px 6px #C1BAC1;
}/* same style function as the front */



/* motto */

section#motto {
	height:  647px;
	background: url("../img/blue.png") repeat-x 0 0;
	padding: 0;
	color: #e4e5e2;
	z-index: 500;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}/* same style function as the front */

blockquote.mega {


}
blockquote.mega p {
	font-size: 45px;
	line-height: 50px;
	text-align: left;
	font-family: 'Patua One', cursive;
	font-weight:bold;
	color:rgb(87,81,107);/* define Motto color */
}
blockquote.mega .cite {

	font-size: 22px;
	text-align: left;
	font-weight:300;
}



/* favorite artists */
section#artists {
	background: url("../img/yellow.png") repeat-x 0 0;
}
section#artists .align {
	font-size: 6em;
	text-align: center;
}/* same style function as the front */
article.post {
	background: none repeat scroll 0 0 rgb(143,131,154);/* Favorite artists background color */
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}/* same style function as the front */
article .inside {
	margin: 18px 24px 24px;
	padding-top: 1em;
	background: url("../img/dot-row-2.png") repeat-x scroll 0 0 transparent !important;
}/* back the main page */
.post-date {
	color: #A5A5A2;
	float: right;
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	line-height: 2;
	margin-right: 5px;
}/* same  */
#artists h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}/* same style function as the front */
#artists h2 {
	font-size: 21px;
	margin-top: 24px;
	margin-bottom: 16px;
	color: #312A1E;
	clear: right;
}/* same style function as the front */



/* ABout me */

section#about {
	background: url("../img/yellow.png") repeat-x 0 0;
}/* ABout me 背景*/
section#about .align {
	font-size: 6em;
	text-align: center;
}

/* about*/
#about h3 {
	font-size: 26px;/* Vivian English name */
	margin-top: 20px;
	margin-bottom: 0px;
}
#about h3, .job-position {
	text-align: center;
}
#about .featurette {
	text-align: center;
	font-size: 21px;
}
#about h2.featurette-heading {
	margin-bottom: 24px;
}
.aboutalign {
	text-align:center
}

.job-position {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: .46155em;
}

footer {
	text-align: center;
	color: #1a1a1a;
	font-weight: bold;
}
footer p {
	margin-top: -130px;
}/* Bottom comment position*/




/* =Buttons= */   

.btn {
	font-family: 'Patua One', cursive;
	color: #fff;
	width: 185px;
	height: 20px;
	text-shadow: none;
	font-size: 1.3125em; /* 21px */
	padding: 1em 0.5em;
	letter-spacing: 0.05em;
	margin: 4.5em auto 0;
	display: block;
	border: 0;
	text-transform: none;
	background: #f0bf00 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}/* deifine Buttons font,color,size,position,border*/   
.btn:link, .btn:visited {
	color: #fff;
}
.btn:hover {
	background: #312A1E !important;
}/* deifine Buttons changed style,like background color ,font color*/  
.navbar-inverse .btn-navbar {
	width: auto;
	height: auto;
}
/**
 * ----------------------------------------
 * animation pulsate
 * ---------------------------------------
*/
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    opacity: .2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    opacity: .2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
 
	/* Desktops and laptops ----------- */
	@media only screen  and (min-width : 1224px) {
/* Styles */
	}
